/* CSS WRITTEN WITH MOBILE FIRST APPROACH */
/* CSS For larger devices are written with media queries */

.campaign-tab {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(241, 241, 244, 255);
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 255);
  border-radius: 5px;
  margin: 2.5%;
}

.table-header {
  width: 100%;
  height: 50px;
  background-color: rgba(241, 241, 244, 255);
  padding: 1%;
}
.reschedule-calendar {
  position: absolute;
  top: 0%;
  left: 30%;
}

.table-header-tag {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(99, 115, 147);
}

.pointer-cur {
  cursor: pointer;
}

.tag {
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  color: darkgrey;
}

.big-tag {
  font-size: 0.8rem;
  font-weight: bold;
  display: inline-block;
  color: darkgrey;
}

.calendar-modal {
  width: 100%;
  height: 100%;
  margin: 0%;
}

.pricing-modal {
  margin: 10%;
}

.price-modal-head {
  display: flex;
}

.campaign-modal-image-div,
.campaign-modal-tag-div {
  padding: 2%;
}

.campaign-modal-image {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-radius: 5px;
}

.pricing-modal-tag {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  color: rgba(43, 65, 108, 255);
}

.price-modal-table {
  display: flex;
}

.price-modal-table-label,
.price-modal-table-price {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 5%;
}
.price-modal-table-label-tag,
.price-modal-table-price-tag {
  font-size: 1rem;
}

.small-span {
  width: 100%;
  height: 20px;
}

.price-tag {
  color: rgba(85, 103, 137, 255);
  font-size: 1rem;
  display: inline-block;
}

.flex-div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pricing-modal-btn {
  background-color: white;
  border: 2px solid black;
  width: 100px;
  height: 50px;
}

.campaign-image-col {
  padding-left: 5%;
}

.campaign-image {
  width: 80px;
  height: 80px;
  float: left;
}

.campaign-col {
  width: 100%;
  height: 100%;
}

.image-icon {
  display: none;
}

.optional-col {
  display: none;
}

.date-col {
  display: none;
}

.campaign-tag-div {
  width: 100%;
  height: 30px;
  padding: 1%;
}

.campaign-tag {
  float: left;
}

.actions-btn {
  width: 100%;
  display: flex;
}

.actions-btn-optional-row {
  padding: 1%;
  margin: 0%;
  width: 50%;
}

.actions-btn-optional-row-item {
  margin-left: 1.5%;
  margin-right: 1.5%;
  float: left;
}

.actions-btn-row {
  padding: 1%;
  margin: 0%;
  width: 50%;
}

.action-btn-items {
  width: 25px;
  height: 25px;
  float: right;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

@media (min-width: 20rem) {
  .calendar-modal {
    margin: 0.5%;
  }
}

@media (min-width: 25rem) {
  .calendar-modal {
    margin: 3%;
  }
}

/* CSS for screen width larger than 36rem */
@media (min-width: 36rem) {
  .calendar-modal {
    margin: 0%;
  }

  .actions-btn {
    display: block;
    width: 100%;
    height: 100%;
  }

  .actions-btn-optional-row {
    display: block;
    width: 30%;
    height: 30px;
    padding: 1%;
  }

  .actions-btn-optional-row-item {
    float: left;
  }

  .actions-btn-row {
    width: 100%;
    height: 40px;
  }

  .action-btn-items {
    width: 25px;
    height: 25px;
    float: right;
    margin-left: 1.5%;
    margin-right: 1.5%;
  }
}
/* CSS for screen width larger than 40rem */
@media (min-width: 40rem) {
  .campaign-tab {
    margin: 0%;
  }

  .responsive-tag {
    display: none;
  }

  .campaign-tag {
    font-size: 1rem;
    float: left;
  }

  .date-col {
    width: 25%;
    height: 100%;
    display: block;
  }

  .campaign-col {
    width: 75%;
    height: 100%;
  }

  .span {
    width: 10px;
    height: 100%;
  }

  .table-header-tag {
    float: left;
  }

  .campaign-image {
    width: 80px;
    height: 80px;
    padding: 0%;
    margin: 0%;
    float: left;
  }

  .campaign-image-col {
    padding: 0%;
  }

  .tag {
    font-size: 0.7rem;
  }

  .actions-btn-optional-row {
    display: none;
  }

  .action-btn-items {
    width: 25px;
    height: 25px;
    float: left;
    margin-left: 2.5%;
  }
}
/* CSS for screen width larger than 60rem */
@media (min-width: 60rem) {
  .image-icon {
    width: 25px;
    height: 25px;
    display: inline-block;
  }

  .optional-col {
    display: inline-block;
  }

  .date-col {
    width: 15%;
    height: 100%;
  }

  .campaign-col {
    width: 25%;
    height: 100%;
  }

  .view-col {
    width: 20%;
    height: 100%;
  }

  .action-col {
    width: 40%;
    height: 100%;
  }

  .span {
    width: 50px;
    height: 100%;
  }

  .table-header-tag {
    float: none;
  }

  .actions-btn {
    display: none;
  }
}
/* CSS for screen width larger than 70rem */
@media (min-width: 70rem) {
  .big-tag {
    font-size: 0.9rem;
  }

  .tag {
    font-size: 0.7rem;
  }

  .responsive-tag {
    display: inline-block;
  }
}
/* CSS for screen width larger than 80rem */
@media (min-width: 80rem) {
  .tag {
    font-size: 0.8rem;
  }

  .big-tag {
    font-size: 1rem;
  }
}
