/* CSS WRITTEN WITH MOBILE FIRST APPROACH */
/* CSS For larger devices are written with media queries */

.app-navbar {
  width: 100%;
  height: 45px;
  position: relative;
  display: flex;
  background-color: rgba(31, 38, 64, 255);
  align-items: center;
  justify-content: space-around;
}

.app-logo {
  height: 40px;
  position: relative;
  right: 10%;
}

.dropdown-div {
  position: relative;
  left: 10%;
  background-color: rgba(31, 38, 64, 255);
  height: 40px;
}

.dropdown-div-item-btn {
  margin: 0;
  padding: 0;
  background-color: rgba(31, 38, 64, 255);
}
.dropdown-div-item-lang {
  font-size: 2rem;
}

/* CSS for screen width larger than 40rem */
@media (min-width: 40rem) {
  .app-navbar {
    height: 60px;
    width: 100%;
  }
  .app-logo {
    height: 60px;
  }
}
